.time-text {
    color: $time-text-color;
    font-size: 20rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.time-box {
    background-color: #000000;
}
.time-title {
    padding: 2rem 0;
    text-align: center;
    color: $time-text-color;
}